.body{
  display: flex;
  width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #2a2e34;
}
.clock{
  height: 260px;
  width: 260px;
  border: 4px solid teal;
  box-shadow: inset 1px 1px 20px rgba(0, 0, 0, 0.45);
  box-shadow:  1px 1px 80px -20px rgba(2, 189, 189, 0.231);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3b3f46;
}
.time{
  font-size: 300%;
  /* color: rgb(3, 111, 111); */
  color: rgba(255, 255, 255, 0.6);
}
.card{
  padding-bottom: 1rem !important;
  width: 400px !important;
}
.clock-box{
  display: flex;
  justify-content: center;
  align-content: center;
  padding:1rem !important;
  border-radius: .5rem;
}
.card-actions{
  margin-top: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.collection{
  border: 2px solid #3b3f46 ;
  max-height: 300px;
  overflow-y: scroll;

}
.collection::-webkit-scrollbar{
  display: none;
}
.collection-header{
  border: none;

}
.collection-item{
  border: 0px solid #3b3f46;
}
.flex-box{
  display: flex !important;
  justify-content: space-between;
  column-gap: 2rem;

}
.last{
  color: gray ;
}