.body{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.clock{
  height: 250px;
  width: 250px;
  border: 2px solid #000000;
  border-radius: 50%;
}

.clock-box{
  padding:1rem ;
}

